@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav a{
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    font-size: 35px;
    margin-right:75px;
    padding-top: 25px;;
    color:white;
    display: flex;
}
nav .contact{
    color:black;
    border-style: hidden;
    background-color: white;
    border-radius: 15px;
    margin-top:25px;
    margin-bottom:5px;
    padding-left:25px;
    padding-right:25px;
    padding-top:0;
    padding-bottom: 55px;
}
.contact:hover{
    background-color: black;
    color:white;
}
nav a:hover{
    color:black;
    border-style: hidden;
    background-color: white;
    border-radius: 15px;
    margin-top:25px;
    margin-bottom:5px;
    padding-left:25px;
    padding-right:25px;
    padding-top:0;
    padding-bottom: 55px;
    text-decoration: underline;
}
nav img{
    padding-top: 15px;
    width:80px;
    height:75px;
    margin-left:20vw;
    margin-right: 20vw;;
}
nav{
    background-color: black;
    display:flex;
    padding-bottom:15px;
    height:95px;
    padding-right:290px;
    position:sticky;
    top:0;
    z-index:10;
}
footer{
    background-color: rgba(244, 244, 244, 1);
    display:flex;
    padding-top:40px;
    padding-bottom:15px;
    position: relative;
    margin-top: 5vw;
}
footer a{
    margin-top: -1vw;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding:15px;
    color:black;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    font-size: 25px;
    margin-left:390px;
    margin-right:490px;
}
.arrow img{
    width:10%;
    margin-top: 10%;
    margin-bottom:0;
    left:45%;
    right:50%;
    position:absolute;
    top:308.99%;
}
h5{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
}
.intro p{
    width:43%;
    margin-top: 20px;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    margin-bottom:13vw;
}
.intro img{
    position:absolute;
    top:5%;
    left:53%;
    width:45%;
    margin-bottom: 20px;
}
.intro{
    margin-top:8vw;
    margin-left:15vw;
}
hr{
    width:75%;
    margin-left:14vw
}
.cart img{
    width:25%;
    margin-top:5vw;
    margin-left:15vw;
}
.advance{
    width:35%;
    position:absolute;
    top:50vw;
    left:50%;
}
.advance h2{
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size:45px;
    margin-bottom:45px;
}
.advance p{
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size:27px;
}
.treasure{
    background-color: rgba(244, 244, 244, 1);
    border-color: lightgrey;
    border-style:solid;
    border-width: 0.1px;
    margin-left:-5px;
    margin-right:-5px;
    margin-top:5vw;
    margin-bottom:5vw;
}
.treasure img{
    width:30%;
    margin-top:5vw;
    margin-bottom:5vw;
    margin-left:55vw;
}
.center{
    width:35%;
    position:absolute;
    top:85vw;
    margin-left:15vw;
}
.center p{
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size:27px;
}
.center h2{
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size:45px;
    margin-bottom:45px;
}
.life h2{
    margin-left:45%;
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size:45px;
    margin-bottom:45px;
}
.style img{
    width:22.5%;
    height:15vw;
}
.first img{
    margin-right:5vw;
}
.first{
    margin-left:17vw;
    margin-bottom:5vw;
}
.second{
    margin-left:17vw;
    margin-bottom:5vw;
}
.second img{
    margin-right:5vw;

}
.life{
    margin-bottom: 9vw;
}
.line hr{
    width:100%;
    margin-left:0
}
@media screen and (max-width:400px){
    nav{
        height:15vw;
    }
    nav img{
        width:55%;
        height:20vw
    }
    h1{
        font-size: 35px;
        margin-left:-15px
    }
    h2{
        font-weight: none;
        font-size: 25px;
    }
    p{
        font-size: 15px;;
    }
    h5{
        margin-left:-15px;
        font-size: 35px;;
    }
    .intro p{
        font-size: 20px;
        width:100%;
        margin-left:-15px;
    }
    .intro img{
        display: none;
    }
    section{
        margin-top:5vw;
    }
    hr{
        margin-top:-8vw;
        margin-left:50px
    }
}